.deltail {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 30px;
}

.deltail img {
    width: 80%;
}

.count button {
    border: none;
    padding: 5px 10px;
    font-size: 20px;
}

.count label {
    font-size: 20px;
    padding: 5px 10px;
    background-color: aliceblue;
}

.salenfil {
    display: grid;

}

@media (max-width:769px) {
    .deltail {
        display: flex;
        flex-direction: column;
    }

    .deltail img {
        width: 100%;
        align-items: center;
    }
}