.form h5 {
    margin-left: 117px;
    margin-top: 50px;
}

.fb {
    margin-left: 222px;

}

.item {
    display: flex;
    margin-left: 200px;
}

.form-login {
    margin-left: 142px;
    line-height: 200%;
}

.form-login button {
    margin-left: 85px;
    margin-top: 20px;
}

.form a {
    margin-left: 220px;
    color: black;
    margin-top: 15px;
}

.text {
    width: 500px;
    padding: 10px;
    position: absolute;
    top: 214px;
    background-color: rgba(249, 246, 246, 0.5);
}

.left img {
    filter: brightness(90%) blur(1px);
    /* Làm mờ ảnh */
}